@model ActividadesComplementarias.Models.grupo

@{
    ViewData["Title"] = "Create";
}

<h2>Crear</h2>

<h4>grupo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre_grupo" class="control-label"></label>
                <input asp-for="nombre_grupo" class="form-control" />
                <span asp-validation-for="nombre_grupo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="capacidad" class="control-label"></label>
                <input asp-for="capacidad" class="form-control" />
                <span asp-validation-for="capacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hora_inicial" class="control-label"></label>
                <input asp-for="hora_inicial" class="form-control" />
                <span asp-validation-for="hora_inicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hora_final" class="control-label"></label>
                <input asp-for="hora_final" class="form-control" />
                <span asp-validation-for="hora_final" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="instructor_idinstructor" class="control-label"></label>
                <input asp-for="instructor_idinstructor" class="form-control" />
                <span asp-validation-for="instructor_idinstructor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="area_idarea" class="control-label"></label>
                <input asp-for="area_idarea" class="form-control" />
                <span asp-validation-for="area_idarea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actividad_idactividad" class="control-label"></label>
                <input asp-for="actividad_idactividad" class="form-control" />
                <span asp-validation-for="actividad_idactividad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="periodo_idperiodo" class="control-label"></label>
                <input asp-for="periodo_idperiodo" class="form-control" />
                <span asp-validation-for="periodo_idperiodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
