@model ActividadesComplementarias.Models.estado

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>estado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre_estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idestado">Editar</a> |
    <a asp-action="Index">Regresa al listado</a>
</div>
